<%= form_with(model: purchase) do |form| %>
  <% if purchase.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% purchase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_ids, 'Categories', class: 'add-titl' %>
    <%= form.collection_check_boxes :category_ids, @categories, :id, :name do |cb| %>
      <div class="checkbox">
        <%= cb.check_box %>
        <%= cb.label %>
      </div>
    <% end %>
  </div>
  
  <div>
    <%= form.text_field :name, placeholder: "Name", class: "input" %>
  </div>
  <div>
    <%= form.text_field :amount, placeholder: "Amount", class: "input"  %>
  </div>
  <%= form.hidden_field :user_id, value:  current_user.id %>
  <div>
    <%= form.submit "Add Purchase", class: "down-btn top" %>
  </div>
<% end %>
