<div id="<%= dom_id purchase %>" class="categories-container">
  <div class="category-name">
    <%= purchase.name %>
  </div>
  <div class="category-name">
    <strong>Categories:</strong>
    <%= purchase.categories.map(&:name).join(', ') %>
    <br><br>
    <center>
      <%= link_to "Manage this purchase", purchase, class: 'formart-cat-link-a' %>
    </center>
  </div>
  <div class="category-total">
    $<%= purchase.amount %>
  </div>
  
  <div class="category-total">
    <%= purchase.created_at.strftime('%d %b %Y %H:%M:%S') %>
  </div>
</div>
