<div class="header-1">
  <div class="back">
    <a href="/categories" class="back-link"><span class='back-arrow'> &#8592; </span></a>
  </div>
  <div class="middle-title">
    <center>
      <h1>Transactions</h1>
      <p>
        Category <%= @category_name %> .
        Total $<%= current_user.purchases.joins(:categories).where(categories: { id: params[:category_id] }).sum(:amount) %> 
      </p>
    </center>
  </div>
  <div class="next">
    &nbsp;
  </div>
</div>

<div class="categories">
  <center>
    <p style="color: green"><%= notice %></p>
  </center>
  <br />
  <% @purchases.each do |purchase| %>
    <%= render purchase %>
  <% end %>
  <center>
    <%= link_to "New purchase", new_purchase_path, class: 'down-btn' %>
  </center>
</div>
